---
import ThemeSwitcher from "@/components/ThemeSwitcher";
import { ArrowLeft, ArrowRight } from "@/components/icons";
import type { MarkdownHeading } from "astro";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import Balancer from "react-wrap-balancer";
import CopyCodeButton from "../components/CopyCodeButton.astro";
import ShareButton from "../components/ShareButton";
import { TOC } from "../components/TOC";
import BaseLayout from "./BaseLayout.astro";

type BlogPost = CollectionEntry<"blog">;

type Props = {
  frontmatter: BlogPost["data"];
  headings?: MarkdownHeading[];
  nextPost?: BlogPost;
  previousPost?: BlogPost;
};

const dateFormatter = new Intl.DateTimeFormat("id-ID", {
  dateStyle: "short",
});
const { frontmatter, headings, nextPost, previousPost } = Astro.props;
const { title, description, publishedAt, image, imageAlt, updatedAt, tag } =
  frontmatter;
const publishedDate = new Date(publishedAt);
const postDate = dateFormatter.format(publishedDate);
---

<BaseLayout meta={{ image: image?.src }}>
  <link href="/prims-nord.css" rel="stylesheet" slot="head" />
  <div class="grid grid-cols-8 gap-10 sm:grid-cols-1">
    <sidebar class="col-span-2 sm:hidden">
      <div class="sticky top-10 h-[calc(100vh-80px)]">
        <div class="flex flex-col h-full justify-between">
          <a href="/">
            <h2 class="text-xl flex gap-2 items-center">
              <span class="text-blue-600 animate-spin">✤</span> Abdullah Ammar
            </h2>
          </a>
          {headings ? <TOC headings={headings} /> : null}
        </div>
      </div>
    </sidebar>

    <main class="col-start-3 col-end-7 sm:col-span-1">
      <div class="grid-cols-4 sm:grid-cols-2 mb-36 hidden sm:grid">
        <a href="/" class="col-span-2">
          <h2
            class="text-xl text-gray-900 dark:text-gray-50 flex gap-2 items-center"
          >
            <span class="text-blue-600 text-3xl animate-spin select-none"
              >✤</span
            >
            Abdullah Ammar
          </h2>
        </a>
        <div class="col-start-4 flex justify-end items-center">
          <ThemeSwitcher client:idle />
        </div>
      </div>
      <article>
        <section class="grid grid-cols-4 gap-10">
          <div class="col-span-4 flex flex-col justify-between">
            <div class="flex justify-between min-h-[28px] items-center">
              <div class="flex font-ibmMono">
                <span class="mr-9 text-green-600 uppercase">{tag}</span>
                <time
                  datetime={publishedDate.toISOString()}
                  class="text-gray-600 dark:text-gray-400">{postDate}</time
                >
              </div>
              <ShareButton client:idle />
            </div>

            <div class="mt-10">
              <div class="min-h-[12rem] flex items-end mb-14">
                <h1 class="text-5xl leading-[52px] font-medium">
                  <Balancer client:only>
                    {title}
                  </Balancer>
                </h1>
              </div>

              {
                image && (
                  <Image
                    class="rounded-md mb-12"
                    width={image.width || 720}
                    height={360}
                    src={image}
                    alt={imageAlt || ""}
                  />
                )
              }
              <p class="text-gray-600 dark:text-gray-400 text-2xl mb-6">
                {description}
              </p>
              <article id="article" class="col-span-4">
                <slot />
              </article>
            </div>
          </div>
        </section>
      </article>
      <div class="flex-col gap-5 mt-28 hidden sm:flex">
        {
          previousPost ? (
            <a
              href={`/blog/${previousPost.slug}`}
              class="py-3 px-4 flex items-center text-gray-600 group dark:text-gray-200 justify-between text-sm border border-gray-200 dark:border-gray-800 rounded-sm hover:bg-gray-50 bg-white dark:bg-gray-950 dark:hover:bg-gray-900 transition-all"
            >
              <ArrowLeft class="h-5 w-5 min-w-[20px] mr-5 group-hover:text-gray-600 transition-all text-gray-300 dark:text-gray-600 dark:group-hover:text-gray-300" />
              <span>{previousPost.data.title}</span>
            </a>
          ) : null
        }
        {
          nextPost ? (
            <a
              href={`/blog/${nextPost.slug}`}
              class="py-3 px-4 flex items-center text-gray-600 group dark:text-gray-200 justify-between text-sm border border-gray-200 dark:border-gray-800 rounded-sm hover:bg-gray-50 bg-white dark:bg-gray-950 dark:hover:bg-gray-900 transition-all"
            >
              <span>{nextPost.data.title}</span>
              <ArrowRight class="h-5 w-5 min-w-[20px] ml-5 group-hover:text-gray-600 transition-all text-gray-300 dark:text-gray-600 dark:group-hover:text-gray-300" />
            </a>
          ) : null
        }
      </div>
    </main>

    <sidebar class="col-start-7 col-end-9 sm:hidden">
      <div class="sticky top-10 h-[calc(100vh-80px)]">
        <div class="flex flex-col h-full justify-between">
          <div class="p-1 flex justify-end">
            <ThemeSwitcher client:idle />
          </div>
          <div class="flex flex-col gap-5">
            {
              previousPost ? (
                <a
                  href={`/blog/${previousPost.slug}`}
                  class="py-3 px-4 flex items-center text-gray-600 group dark:text-gray-200 justify-between text-sm border border-gray-200 dark:border-gray-800 rounded-sm hover:bg-gray-50 bg-white dark:bg-gray-950 dark:hover:bg-gray-900 transition-all"
                >
                  <ArrowLeft class="h-5 w-5 min-w-[20px] mr-5 group-hover:text-gray-600 transition-all text-gray-300 dark:text-gray-600 dark:group-hover:text-gray-300" />
                  <span>{previousPost.data.title}</span>
                </a>
              ) : null
            }
            {
              nextPost ? (
                <a
                  href={`/blog/${nextPost.slug}`}
                  class="py-3 px-4 flex items-center text-gray-600 group dark:text-gray-200 justify-between text-sm border border-gray-200 dark:border-gray-800 rounded-sm hover:bg-gray-50 bg-white dark:bg-gray-950 dark:hover:bg-gray-900 transition-all"
                >
                  <span>{nextPost.data.title}</span>
                  <ArrowRight class="h-5 w-5 min-w-[20px] ml-5 group-hover:text-gray-600 transition-all text-gray-300 dark:text-gray-600 dark:group-hover:text-gray-300" />
                </a>
              ) : null
            }
          </div>
        </div>
      </div>
    </sidebar>
  </div>
  <CopyCodeButton />
</BaseLayout>
